<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileDigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileDigger.Properties.Settings>
            <setting name="MakeLocalCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldBufferInMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeEmbeddedFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </FileDigger.Properties.Settings>
    </applicationSettings>
</configuration>